body {
  padding: 0 !important;
}

.scrolled-down{
  transform:translateY(-100%); transition: all 0.2s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.2s ease-in-out;
}

.timeline-main-wrapper {
  padding: 0 !important;
  > div.euzbmD {
    padding: 10px 0 !important;
  }
  figure.table {
    overflow: auto;
  }
}

.profile-nav {
  .scrollto.active {
    background-image: $text-gradient-bg-info;
    color: $white;
  }
}

.section-title {
  padding-bottom: 20px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.categories-nav {
  cursor: pointer;
  .nav-item.filter-active {
    background-image: $text-gradient-bg-info;
    > a {
      color: $white !important;
    }
  }
}

.text-shadow {
  text-shadow: 1px 1px $gray-700;
}